.contact-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0)), url("https://www.gannett-cdn.com/presto/2022/03/17/PVCS/fe9efb33-7923-4eb7-9177-0cf9377fff3a-Wildflowers_1.jpg");
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.details-area {

    display: flex;
    flex-direction: column;
    background: rgb(62, 69, 22, 0.85);
    width: 700px;
    justify-content: center;
    align-items: center;
}

label {
    font-size: 16px;
    padding: 10px;
    color: #FDF2B0;
}

.details-area input {
    padding: 1rem;
    width: 300px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

textarea {
    width: 300px;
    border-radius: 10px;
    padding: 1em;
}

.details-area button {
    width: 120px;
    align-items: center;
    background-color: #FDF2B0;
    color: black;
    border: none;
    font-size: 20px;
    border-radius: 5%;
    margin-top: 40px;
}

input:invalid {
    border: 2px dashed red;
}

input:invalid:required {
    background-image: pink;
}

input:valid {
    border: 2px solid black;
}